<section id = "show_section">

  <h1>
    Meet <%= @driver.name%>!
  </h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>

  <P>
    Average rating : <%= @driver.average_rating %>
  </P>

  <p>
     <%= link_to "Back", drivers_path%>
     <%= link_to "Edit", edit_driver_path%>
     <%= link_to "Delete", driver_path,
     data: {method: :delete, confirm: "Are you sure you want to delete #{@driver.name} from the list?"}%>
   </p>



   <h2>List of trips that the driver has taken</h2>

   <div class="tbl-header">
     <table cellpadding="0" cellspacing="0" border="0">
       <thead>
         <tr>
           <th>Name</th>
           <th>Date</th>
           <th>Rating</th>
           <!-- <th>Show Trip</th> -->
         </tr>
       </thead>
     </table>
   </div>
   <div class="tbl-content">
     <table cellpadding="0" cellspacing="0" border="0">
       <% @driver.trips.each do |trip| %>
       <tr>
         <td><%= trip.passenger[:name] %></td>
         <td><%= trip[:date] %></td>
         <td><%= trip[:rating] %></td>
         <td class="table_link">
           <%= link_to "Show", passenger_trip_path(trip), class: "button_link" %>
         </td>
       </tr>
       <% end %>
     </table>
   </div>

<!-- End of show section  -->
 </section>
