<!DOCTYPE html>
<html>
  <head>
    <title>RideshareRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <div id ="home_image">
        <%= link_to "Home", welcome_path %>
      </div>

    </header>
    <main>
      <%= yield %>
    </main>

  </body>
</html>
